/*  your css code here. If applicable */
body {
	background-color: #f5f5f5;
}

.header {
	background-color: #011e29;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.latest-news-section {
	background-color: #f5f5f5;
	padding: 20px;
	width: 50%;
}
.pictorial-news-section {
	background-color: #f5f5f5;
	padding: 20px;
	width: 80%;
	text-align: center;
	border-radius: 10px;
}

.pictorial-news-section img {
	margin: 10px;
}
